@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="vi">

<meta charset="UTF-8" />

<meta name="description" content="">
<title>Tin tức		</title>
<meta name="keywords" content="Tin tức," />

<style>
	

	.breadcrumb .breadcrumb-item a {
		text-decoration: none;
	}
</style>
<body>
	<div class="container">
		<ul class="breadcrumb">
			<li class="home">
				<a href="/" class="text-dark font-size-14px text-decoration-none" style="padding: 11px 0;">Trang chủ</a>
				<span class="mr_lr">&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"> <path d="M13.4246 6.50003L7.41421 12.5104L6 11.0962L10.5962 6.50003L6 1.90384L7.41422 0.489624L13.4246 6.50003Z" fill="#8C8C8C"></path> <path d="M8 6.50003L1.98959 12.5104L0.575378 11.0962L5.17157 6.50003L0.57538 1.90384L1.98959 0.489624L8 6.50003Z" fill="#8C8C8C"></path> </svg>&nbsp;</span>
			</li>
			<li>
				<span class="text-dark font-size-14px" style="padding: 11px 0;">Chính sách bán hàng</span>
			</li>
		</ul>
	</div>
<div class="col-12">
	<div class="page-title category-title">
		<h1 class="title-head">Chính sách bán hàng</h1>
	</div>
	<div class="content-page rte">
		@* <p>
			
		</p> *@
			<p><strong>DUY NHẤT TẠI </strong>2 BOY STORE</p>
		<p>
				Bạn sẽ được&nbsp;<strong>bảo hành trong vòng 3 tuần</strong>&nbsp;tính từ ngày mua tại 2 BOY STORE.<br>
				2 BOY STORE sẽ không có bất cứ quy định khắt khe và không thu bất cứ khoản phí nào trong suốt 3 tuần bảo hành, nếu sách của bạn có bất cứ lỗi nào từ nhà sản xuất bản mang qua sẽ được bảo hành.
		</p>
		<p><strong>ĐIỀU KIỆN BẢO HÀNH</strong></p>
			<p>	1: Lỗi in ấn: Nếu sách bạn mua có lỗi in ấn như trang bị bị nhòe, trang bị bị mờ, trang bị bị lệch màu hoặc các lỗi khác liên quan đến chất lượng in ấn, bạn có thể yêu cầu bảo hành để đổi sách mới hoặc được sửa chữa.</p><p>
				2: Trang bị bị rách hoặc hỏng: Nếu sách có trang bị rách, trang bị bị bung, trang bị bị gãy hoặc bất kỳ hư hỏng nào khác do lỗi sản xuất hoặc vận chuyển, bạn có quyền yêu cầu bảo hành để được sửa chữa hoặc đổi sách mới.<br>
				3: Thiếu trang bị hoặc trang bị bị bỏ sót: Nếu sách thiếu trang bị quan trọng hoặc có trang bị bị bỏ sót, bạn có thể yêu cầu bảo hành để được cung cấp các trang bị hoặc bản sao mới của sách.
		</p>
		<p><strong>KHÔNG BẢO HÀNH</strong></p>
		<p>
			
				1. Hư hỏng do sử dụng không đúng cách: Nếu sách bị hư hỏng do việc sử dụng không đúng cách, ví dụ như xé trang bị, làm vỡ bìa hoặc hư hỏng do mất cẩn trong quá trình sử dụng, cửa hàng sách có thể không chấp nhận yêu cầu bảo hành.
			</p><p>
				2. Hư hỏng do tai nạn hoặc sử dụng bất cẩn: Nếu sách bị hư hỏng do tai nạn, rơi rớt, tiếp xúc với chất lỏng, hoặc sử dụng bất cẩn, cửa hàng sách có thể không đồng ý bảo hành do đây được coi là hư hỏng không liên quan đến lỗi sản xuất hoặc chất lượng.
			</p><p>
				3. Sách đã qua sử dụng hoặc không còn nguyên vẹn: Nếu sách đã qua sử dụng, không còn trong tình trạng mới hoặc không còn nguyên vẹn (ví dụ: trang bị bị rách, trang bị bị mất), cửa hàng sách có thể từ chối yêu cầu bảo hành.
			</p><p>
				4. Quá thời gian bảo hành: Nếu thời gian bảo hành đã hết, thông thường được quy định trong chính sách bảo hành của cửa hàng, cửa hàng có thể từ chối yêu cầu bảo hành.
				<br>
				5. Thiếu chứng từ cần thiết: Để yêu cầu bảo hành, thường cần có chứng từ như phiếu mua hàng, hóa đơn hoặc giấy chứng nhận bảo hành. Nếu thiếu các tài liệu này, cửa hàng có thể không thể tiến hành bảo hành.
			</p>
	</div>
	</div>
</body>
